.insertion-sort__container{
    display: flex;
    flex-flow: column;
    justify-items: center;
    height: 100%;
}

.button__container{
    height: 9vh;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
}

.length__input{
    max-width: 50%;
}