<div [@enterAnimation]="showGeneral ? 'enter' : 'leave'" class="general-info">
    <svg width="64" height="64">
        <circle class="circle__svg" cx="32" cy="32" r="28" stroke="black" stroke-width="4" fill="#D5D5D5"  (mouseover)="moveOminoTo(1)" (mouseout)="moveOminoTo(0)"/>
    </svg>

    
    <svg width="164" height="22" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <line stroke-dasharray="10, 5" x1="0" y1="10" x2="350" y2="10" style="stroke-width: 6px;"></line>
    </svg>
  
    <svg width="64" height="64">
        <circle class="circle__svg" cx="32" cy="32" r="28" stroke="black" stroke-width="4" fill="#D5D5D5" (mouseover)="moveOminoTo(2)" (mouseout)="moveOminoTo(0)"/>
    </svg>

   
    <svg width="164" height="22" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <line stroke-dasharray="10, 5" x1="0" y1="10" x2="350" y2="10" style="stroke-width: 6px;"></line>
    </svg>
  

    <svg width="64" height="64">
        <circle class="circle__svg" cx="32" cy="32" r="28" stroke="black" stroke-width="4" fill="#D5D5D5" (mouseover)="moveOminoTo(3)" (mouseout)="moveOminoTo(0)"/>
    </svg>

   
		  	<svg width="164" height="22" version="1.1" xmlns="http://www.w3.org/2000/svg">
	    		<line stroke-dasharray="10, 5" x1="0" y1="10" x2="350" y2="10" style="stroke-width: 6px;"></line>
			</svg>
		  

    <svg width="64" height="64">
        <circle class="circle__svg" cx="32" cy="32" r="28" stroke="black" stroke-width="4" fill="#D5D5D5" (mouseover)="moveOminoTo(4)" (mouseout)="moveOminoTo(0)"/>
    </svg>
</div>


