<div class="selection-sort__container">
    <app-algorithm-view></app-algorithm-view>
    <div class="button__container">
            <mat-form-field>
                    <input matInput type="number" placeholder="Array length" [(ngModel)]="len" class="length__input">
                    <button  mat-raised-button color="basic" (click)="createArray(len)">Generate random array</button>       
                    <button mat-raised-button color="primary" (click)="selectionSort(len)">Order array</button>
            </mat-form-field>
    </div>
</div>