/*
  ================
      PALETTE
  ================
  MUTED AND MINIMAL:
       DUSTY
      #96858F
      LAVENDAR
      #6D7993
      OVERCAST
      #9099A2
       PAPER
      #D5D5D5
  UNEXPECTED COLOR 
   COMBINATIONS:
       VIOLET
      #6E3667
   ELECTRIC LIME
      #88D317
     DEEP PLUM
      #1A0315
       SHADOW
      #535353
  ================
  */



  .root__container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: column;
    transition: background 300ms linear;
    background: #D5D5D5;
  }

  .root__container-dark {
    /*background: linear-gradient(to top, #30cfd0 0%, #330867 100%);*/
    background: linear-gradient(to bottom, #6E3667, #1A0315);
  }
  
  /* 100vw, 100vh
  ================
      Header
  ================
  */
  
  /*
      Slide Menu
  = = = = = = = = =
  */
  .side-menu__container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    overflow: hidden;
    pointer-events: none;
    z-index: 1;
  }
  
  .side-menu__container-active {
    pointer-events: auto;
  }
  
  .side-menu__container::before {
    content: '';
    cursor: pointer;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    opacity: 0;
    transition: opacity 300ms linear;
    will-change: opacity;
  }
  
  .side-menu__container-active::before {
    opacity: 0.3  ;
  }
  
  .slide-menu {
    box-sizing: border-box;
    transform: translateX(-200%); 
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    min-height: 100vh;
    width: 90%;
    max-width: 26rem;
    background-color: #d5d5d5;
    box-shadow: 0 0 2rem rgba(0, 0, 255, 0.1);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 4fr 1fr;
    grid-gap: 1rem;
    transition: transform 300ms linear;
    will-change: transform;
  }
  
  .slide-menu-active {
    transform: none;
  }

  .slide-menu-dark {
    background-color: #1A0315;
  }
  
  .menu-header {
    background: linear-gradient(to right, #96858F, #6D7993);
    display: grid;
    grid-template-rows: 1fr 4fr;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: "greeting greeting" "image details";
    box-sizing: border-box;
    width: 100%;
    align-content: center;
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 255, 0.2);
  }

  .menu-header-dark {
    background: linear-gradient(to right, #6E3667, #1A0315);
    box-shadow: 0 0.5rem 2rem #535353;
  }
  
  .greeting__text {
    grid-area: greeting;
    font-size: 1.25rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    margin-top: 1rem;
    justify-self: center;
    align-self: center;
  }

  .greeting__text-dark {
    color: #88D317;
  }
  
  .account-details {
    grid-area: details;
    display: flex;
    flex-flow: column;
    margin-left: 1rem;
    align-self: center;
  }
  
  .name__text {
    font-size: 1.15rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 0.5rem;
  }

  .name__text-dark {
    color: #88D317;
  }
  
  .email__text {
    font-size: 0.9rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 0.1rem;
  }

  .email__text-dark {
    color: #88D317;
  }
  
  .menu-body {
    display: grid;
    width: 100%;
  }

  .menu-links {
    display: flex;
    flex-flow: column;
    list-style: none;
  }
  .menu-links-dark {
    color: white;
  }
  
  .link-active {
    color: #96858F;
    border-bottom: 1px solid #96858F;
  }
  
  .link-active-dark {
    color: #88D317;
    border-bottom: 1px solid #88D317;
  }
  .menu-link {
    outline: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
    padding: 1rem 0;
    margin: 0.5rem 0;
    cursor: pointer;
  }
  
  .profile-image__container {
    grid-area: image;
    margin-right: 0.5rem;
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D5D5D5;
    align-self: center;
    margin-left: 2rem;
  }

  .profile-image__container-dark {
    background-color: #D5D5D5;
  }
  
  .profile__image {
    max-width: 4rem;
    height: 2rem;
   /* margin-left: 1rem; */
  }
  
  /*Header*/
  .main__header {
    width: 100%;
    
    display: grid;
    grid-template-columns: 1fr 1fr 0.25fr;
    grid-template-rows: 1fr;
    box-shadow: 0 0 2rem #6D7993;
    background-color: #D5D5D5;
    height: 4rem;
    margin: 0;
    align-items: center;
    transition: background-color 500ms linear;
    animation: 1s ease-in-out 0ms 1 fadein;
  }
  
  .main__header-dark {
    background-color: #1A0315;
    color: #88D317;
  }
  
  .toggle-button__container {
    cursor: pointer;
    position: relative;
    margin: 0 0.5rem;
  }
  
  .mode-toggle__input {
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  
  .mode-toggle__bg {
    height: 1rem;
    width: 2rem;
    border-radius: 0.5rem;
    background-color: #535353;
    display: inline-block;
    transition: background-color 300ms linear;
  }
  
  .mode-toggle__circle {
    height: 1.30rem;
    width: 1.30rem;
    background-color: #1A0315;
    position: absolute;
    top: -0.18rem;
    border-radius: 50%;
    box-shadow: 0 0 0 rgba(0, 0, 255, 0.5);
    transition: left 300ms linear;
    left: 0.2rem;
  }
  
  .mode-toggle__circle-checked {
    background-color: #D5D5D5;
    left: 1.5rem;
  }
  
  .mode-toggle__bg-checked {
    background-color: #6D7993;
  }
  
  .mode-toggle__text {
    font-size: 0.75rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
  }
  
  /*Content*/
  .left__section {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    max-width: 5rem;
  }
  
  .date__text {
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 0.1rem;
    display: inline;
    margin: 0.5rem 0;
  }
  
  /*SVGs*/
  .hamburger__icon {
    position: relative;
    z-index: 50;
    height: 1rem;
    padding: 0.5rem 1.5rem;
    margin-right: 1rem;
    cursor: pointer;
  }
  
  .logo__icon {
    height: 2rem;
    margin-left: 1rem;
  }

  .logo__path1-dark {
    fill: #6E3667;
    transition: fill 500ms linear;
    animation: 1s ease-in-out 0ms 1 fadein;
  }
  
  .logo__path2-dark {
    fill: #88D317;
    transition: fill 500ms linear;
    animation: 1s ease-in-out 0ms 1 fadein;
  }
  .logo__text {
    fill: black;
    
  }
  
  .logo__text-dark {
    fill: #88D317;
  }
  
  .hamburger__icon__fill {
    fill: #000000;
  }
  
  .hamburger__icon__fill-dark {
    fill: #D5D5D5;
  }
  
  /*
  ================
      Body
  ================
  */
  
  .main-container__bg {
    min-height: 90vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .copyright__text {
    display: block;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #96858F;
  }

  .copyright__text-dark {
    color: #535353;
  }
  
  /*
  ================-
      Footer
  ================
  */
  .main__footer {
    background: transparent;
    position: absolute;
    bottom: 1rem;
    left: 1.5rem;
    z-index: 10;
  }

  /* Media Query:   LT-MD   */
@media screen and (max-width: 959px) {
  .main__header {
    grid-template-columns: 1fr;
    justify-items: center;
    padding: 1rem 0;
    min-height: 8rem;
  }

  .left__section {
    justify-self: start;
    max-width: none;
    grid-template-columns: 0 5fr;
    width: 100%;
  }

  .logo__icon {
    margin: 0 auto;
  }

  .hamburger__icon {
    margin-right: 0;
  }

  .menu-header {
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
  }
}

@media only screen and (max-width: 300px) {
  .slide-menu {
    width: 50%;
  }
}
