.view__container{
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.name-text__container{
    height: 9vh;
    margin: auto;
}

.array__container{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    height: 62vh;
    width: 60vw;
    word-wrap: break-word;
    overflow: scroll;
    will-change: order;
    align-items: stretch;
    align-content: stretch;
    text-align: center;
    margin: auto;
}

.coloredPixels{
    font-family: 'Courier New', Courier, monospace;
    will-change: order;
    transition: order 100ms linear;
}
