.selection-sort__container{
    display: flex;
    flex-flow: column;
    justify-items: center;
    box-shadow: 0 0.5rem 2rem #63535D;
}

.button__container{
    height: 10vh;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    box-shadow: 0 0.5rem 2rem #63535D;
}