<div class="projects__container">
        <ol class="projects__list">
            <span class="select__text">Select a component:</span>
            <li class="algorithms__container" (click)="toggleAlgorithms()">
                <span class="algorithms__text"><a>Algorithms</a></span>
                <ul class="algorithms__list" *ngIf="showAlgorithms">
                    <li class="merge-sort__container" [routerLink]="[{outlets: {projectBox: ['merge-sort']}}]"
                    routerLinkActive="router-link-active"><a>merge-sort</a></li>
                    <li class="selection-sort__container" [routerLink]="[{outlets: {projectBox: ['selection-sort']}}]" 
                    routerLinkActive="router-link-active"><a>selection-sort</a></li>
                    <li class="insertion-sort__container" [routerLink]="[{outlets: {projectBox: ['insertion-sort']}}]" 
                    routerLinkActive="router-link-active"><a>insertion-sort</a></li>
                    <li class="counting-sort__container" [routerLink]="[{outlets: {projectBox: ['counting-sort']}}]" 
                    routerLinkActive="router-link-active"><a>counting-sort</a></li>
                </ul>
            </li>
            <li class="other__container" (click)="toggleOther()">
                <a>Other stuff</a>
                <ul class="other__list" *ngIf="showOther">
                    <li class="test1"><a>test1</a></li>
                    <li class="test2"><a>test2</a></li>
                    <li class="test3"><a>test3</a></li>
                </ul>
            </li>
        </ol>
        <router-outlet name="projectBox" class="projectBox"></router-outlet>
        
    </div>
    