div{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.projects__container{
    display: flex;
    flex-flow: row;
    height: 80vh;
    width: 90vw;
    box-shadow: 0 0.5rem 2rem #63535D;
}

.projects__list{
    list-style-type: upper-roman;
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 30vw;
    margin: 0; padding: 0;
    box-shadow: 1rem 0 2rem -1.5rem #63535D;
}

ol{
    list-style-type: upper-roman;
}
.algorithms__container{
    display: flex;
    flex-flow: column;
    margin-left: 1.5rem;

}

.algorithms__list{
    display: flex;
    flex-flow: column;
}

.other__container{
    display: flex;
    flex-flow: column;
    margin-left: 1.5rem;
    margin-top: 0.5rem;
}

.other__list{
    display: flex;
    flex-flow: column;
}

.select__text{
    margin: 1rem 1rem;
}

ul{
    list-style-type: none;
}

li{
    display: list-item;
    border-bottom: 1px solid #96858F;
}

li:last-child{
    border: none;
}

li a {
    text-decoration: none;
  
    -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
    -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
    -o-transition: font-size 0.3s ease, background-color 0.3s ease;
    -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
    transition: font-size 0.3s ease, background-color 0.3s ease;
    display: block;
    width: 200px;
  }
  
  li a:hover {
    font-size: 30px;
  }

  .router-link-active{
    color: #96858F;
  }